.bid-card {
  @apply flex flex-col bg-transparent;
  .time-panel {
    @apply flex border-0 border-b !border-solid border-lineBorder h-[72px] px-[16px] lg:px-[24px] leading-[72px] justify-between flex-row items-center;
  }
  svg {
    @apply w-[24px] h-[24px];
    * {
      @apply fill-textSecondary;
    }
  }
  .price-panel {
    @apply py-0 px-[24px] flex !justify-between mdTW:!items-start lgTW:!items-end lgTW:flex-row !items-center mdTW:flex-col;
    .left-part {
      @apply pt-[24px] px-0 pb-[24px];
    }
    .current-price {
      @apply leading-[27px];
    }
    .price-number {
      @apply items-center;
    }
    .price-margin {
      @apply my-0 mx-[8px] text-4xl;
      img {
        @apply w-[24px] h-[24px];
      }
    }
    .bid-btn {
      @apply mr-[16px] mdTW:mr-0;
    }
  }

  .btn-panel {
    @apply mb-0 w-full lgTW:w-[160px];
  }
}

.mobile-bid-card {
  @apply mt-[16px];
  .time-panel {
    @apply !p-[16px];
  }
  .price-panel {
    @apply !p-[16px] flex-col !items-start;
    .bid-btn {
      @apply !w-full mb-[16px];
    }
    &:last-child {
      @apply m-0;
    }
    .left-part {
      @apply w-[100%] !p-0 mb-[24px];
      img {
        @apply w-[24px];
      }
      .price-margin {
        @apply my-0 mx-[8px] text-[32px] leading-[40px];
      }
    }
    .current-price {
      @apply !leading-[27px];
    }
    .btn-panel {
      @apply w-full mb-0;
    }
  }
}

.mobile-button {
  @apply fixed w-full bottom-0 left-0 bg-fillPageBg p-[16px] flex z-[998] border-0 border-t border-solid border-lineBorder;
}

.table-custom {
  :global(.ant-table-thead) {
    tr {
      th {
        @apply border-0;
      }
      :global(.ant-table-cell) {
        @apply bg-fillHoverBg px-[8px];

        &:first-of-type {
          @apply !rounded-l-lg;
        }
        &:last-of-type {
          @apply !rounded-r-lg;
        }
        /* &:nth-last-child(2) {
          @apply !rounded-r-lg;
        } */
      }
    }
  }

  :global(.ant-table-body) {
    @apply min-h-[320px];

    :global(.ant-table-tbody) {
      :global(.ant-table-row) {
        > :global(.ant-table-cell) {
          &:first-of-type {
            @apply !rounded-none;
          }
          &:last-of-type {
            @apply !rounded-none;
          }
        }
      }
    }
  }
}

.btnIcon {
  background: rgba(255, 255, 255, 0.1);
}
.money {
  background-image: url('../../../../assets/images/money.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
