.carousel-item {
  @apply w-full h-full relative !flex justify-center items-end mdl:justify-normal  mdl:items-center;
}

.filter {
  /* @apply absolute bottom-[-4px] w-[100%] h-[70px] z-10; */
  @apply absolute bottom-[-4px] w-[100%] h-[120px] z-10 bg-white;

  /* background: linear-gradient(transparent, 20%, white); */
  filter: blur(50px);
}

.current {
  transition: all 0.25s ease-in;

  transform: translateY(-16px);
}

.card-mask {
  @apply rounded-b-lg mdl:left-[24px] bottom-0 w-[160px] mdl:w-[225px] h-[45px] absolute  mdl:bottom-[0px];
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
