.arrow {
  @apply w-[40px] h-[40px] rounded-[50%] flex items-center justify-center cursor-pointer border-[1px] border-solid border-[var(--line-border)] bg-[var(--swiper-bg)];
  svg {
    * {
      @apply stroke-[var(--text-item)];
    }
  }
}

.leftArrow {
  @apply absolute top-[50%]  translate-y-[-50%] left-[-20px] z-20;

  backdrop-filter: blur(5px);
}

.rightArrow {
  @apply absolute top-[50%] translate-y-[-50%] right-[-20px] z-20;

  backdrop-filter: blur(5px);
}

.calcWidth {
  width: calc(100% - 48px) !important;
}
.user-disabled {
  :global {
    .swiper-wrapper {
      @apply pointer-events-none;

      .swiper-slide {
        @apply pointer-events-none;
      }
    }
  }
}
