.mask {
  @apply bg-no-repeat bg-cover;

  mask-image: url('../../../../assets/images/v2/CardContainer_2x.png');
  mask-size: cover;
  mask-repeat: no-repeat;
}

.maskTag {
  @apply h-[264px] relative;
  @apply bg-no-repeat bg-cover;

  mask-image: url('../../../../assets/images/v2/CardContainer_2x.png');
  mask-size: cover;
  mask-repeat: no-repeat;
}

.card {
  .title {
    @apply text-[16px] font-bold text-white leading-6;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5c489d;
    letter-spacing: -2.56px;
  }

  .reward {
    @apply text-[12px] font-bold  text-[#B1A7D0];
  }
  .content {
    @apply text-[12px] font-bold  text-right text-[#5C489D] flex items-center leading-[16px];
  }
}
