.profile:global(.has-banner) .tabs-header .tab-nav-tips {
  color: rgb(256 256 256 / 60%);
}

.profile:global(.has-banner) .tabs-header .tabs-title .space-item svg path {
  @apply fill-white;
}

.profile:global(.has-banner) .tabs-header .tabs-tab .tabs-tab-btn {
  @apply fill-white;
}

.profile .profile-items-layout.layout {
  @apply mt-[-79px];
}

.profile .profile-items-layout.layout .profile-items-layout {
  min-height: calc(100vh - 80px);
}

.profile .profile-items-layout.layout .scroll-content-wrapper .scroll-div {
  height: calc(100vh - 140px - 56px);
}

.profile .profile-items-layout.layout .scroll-content-wrapper .no-filter-tag {
  height: calc(100vh - 140px);
}

.profile .profile-items-layout.layout .layout-header {
  @apply bg-transparent;
}

.profile .profile-items-layout.layout .profile-icon {
  @apply w-[24px] h-[24px];
}

.profile .profile-items-layout.layout .items-sider-menu.menu {
  @apply bg-none border-r-0;

  height: calc(100vh - 79px - 80px);
}

.profile .profile-items-layout.layout .top-filter-button {
  @apply shadow-none;
}

.marketplace-mobile .profile-items-layout.layout {
  @apply mt-[-47.857px];
}

.marketplace-mobile .profile-items-layout.layout .protocol-items-content {
  min-height: calc(100vh - 45.714px);
}

.marketplace-mobile .profile-items-layout.layout .scroll-content-wrapper .scroll-div {
  height: calc(100vh - 42.857px);
}

.marketplace-mobile .profile-items-layout.layout .profile-icon {
  @apply h-[17.143px] w-[17.143px];
}

.collapsed-wrapper {
  @apply flex justify-between items-center text-lg font-semibold px-6 h-16 w-[360px] border-0 border-b border-solid border-lineBorder;
}
.collapsed-wrapper svg path {
  @apply fill-[var(--color-secondary)];
}

.moreWrapper {
  :global {
    .base-select {
      @apply !hidden;
    }
  }
}
