/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@tailwind base;

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bg-page) !important;
  position: relative;
  font-size: 16px !important;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

* {
  font-family: Poppins, sans-serif;
  transition: background 0.1s, fill 0.1s, stork 0.1s, color 0.1s, box-shadow 0.1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
