.adaptive {
  @apply rounded-md relative;
  .seed-text {
    @apply h-full absolute left-0 top-0 bottom-0 box-border px-[1px] flex items-center justify-center flex-wrap;
  }
}

.eight {
  zoom: 67%;
}

.fiv {
  zoom: 42%;
}

.wrapper {
  @apply overflow-hidden w-full max-w-[1360px] m-auto;
}

.scroll {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  /* mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent); */
  /* -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent); */
}

.scrollRight {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  /* mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent); */
  /* -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent); */
}

.seed-item-card {
  @apply rounded-[12px] border border-solid border-[var(--line-box)] p-[24px] mdl:p-[32px] bg-[var(--bg-home)] cursor-pointer transition-transform ease-in-out delay-100 transform-gpu hover:-translate-y-2 hover:bg-[var(--bg-home-hover)];
  @apply w-[240px] mdl:w-[444px] h-[226px] mdl:h-[202px] mr-[8px] mdl:m-[8px] inline-block flex-shrink-0;

  &:hover {
    box-shadow: 0px 4px 20px 0px rgba(64, 64, 64, 0.1);
  }
}

.scroll,
.scrollRight {
}

.track-first,
.track-second {
  @apply flex-shrink-0;
}

.scroll {
  .track-first {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
  }
}

.scrollRight {
  .track-first {
    white-space: nowrap;
    animation: animateR1 var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
  }
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes animateR1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.scroll {
  .track-second {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
  }
}

.scrollRight {
  .track-second {
    animation: animateR2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
  }
}

@keyframes animateR2 {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.scroll:hover,
.scrollRight:hover {
  span {
    animation-play-state: paused;
  }
}
