.scroll-content-wrapper .scroll-div {
  @apply bg-[var(--bg-menu)] overflow-y-visible;

  height: calc(100vh - 270px);
  -webkit-overflow-scrolling: touch;
}
.scroll-content-wrapper .scroll-content-container {
  @apply grid  p-[24px] w-full gap-[24px];
}

.scroll-content-wrapper .scroll-items-empty {
  @apply mt-[24px] mx-[24px] mb-0 min-h-[288px] border border-solid border-[var(--line-box)];
  @apply box-border rounded-[12px] text-[var(--color-placeholder)] font-medium text-[16px] leading-normal;
}

:global(.forest-marketplace-mobile) .scroll-content-wrapper .scroll-content-container {
  @apply p-[16px];
}

:global(.forest-marketplace-mobile) .scroll-content-wrapper .scroll-div {
  height: calc(100vh - 42.857px);
}
