.explore__item__container {
  @apply w-full;
}
.fixed-left {
  position: sticky;
  align-self: flex-start;
  top: 160px;
  height: calc(100vh - 160px - 80px);
  padding-bottom: 80px;
  overflow-y: scroll;

  :global(.ant-layout-sider-children) {
    @apply h-fit;
  }
  :global(.ant-menu.ant-menu-sub > .ant-menu-submenu .ant-menu-submenu-title) {
    @apply sticky top-0 bg-fillPageBg z-10;
  }
}
