/* stylelint-disable no-descending-specificity */
.detail-card-svg {
  @apply flex items-center;
  >div {
    @apply w-[24px] h-[24px] flex justify-center items-center ml-[40px] cursor-pointer;
  }

  .detail-card-svg-twitter {
    path {
      @apply fill-textSecondary stroke-textSecondary;
    }
    &:hover {
      path {
        @apply fill-[var(--share-svg-hover)] stroke-[var(--share-svg-hover)];
      }
    }
  }
  .detail-card-svg-internet {
    path {
      @apply fill-textSecondary;
    }
    &:hover {
      path {
        @apply fill-[var(--share-svg-hover)];
      }
    }
  }
  .detail-card-svg-telegram {
    path:first-child {
      @apply fill-textSecondary;
    }
    &:hover {
      path:first-child {
        @apply fill-[#28A8E9];
      }
    }
  }
  .detail-card-svg-facebook {
    path:first-child {
      @apply fill-textSecondary;
    }
    &:hover {
      path:first-child {
        @apply fill-[#0866FF];
      }
    }
  }
}